ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(108, 105, 167);
  background: linear-gradient(
    90deg,
    rgb(167, 105, 105) 0%,
    rgb(155, 219, 209) 48%,
    rgb(217, 255, 0) 100%
  );
}
